<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Quickly add a new task</div>
            <div class="panel-body">

                <form role="form" class="form-horizontal" name="formAddTask">

                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="inputTask" placeholder="Task description" ng-model="newTaskTitle" required>
                            <span class="alert-danger" ng-show="formAddTask.inputTask.$dirty && formAddTask.inputTask.$error.required">A title is required to add a new task</span>
                        </div>
                        <button type="button" class="btn btn-success" ng-click="addTask()" ng-disabled="formAddTask.$invalid">Add</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row" >
    <div class="col-md-6 col-md-offset-3">
        <div class="list-group">
            <a href="" class="list-group-item" ng-repeat="task in taskList" ng-class="{'list-group-item-success': done}" ng-mouseover="hover = true" ng-mouseleave="hover = false">
                {{task.title}}
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-sm" ng-show="hover" ng-click="done=!done" ng-init="done=false"><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button" class="btn btn-default btn-sm" ng-show="hover" ng-click="visible=!visible" ng-init="visible=false"><span class="glyphicon glyphicon-plus"></span></button>
                    <button type="button" class="btn btn-default btn-sm" ng-show="hover" ng-click="" ng-init=""><span class="glyphicon glyphicon-trash"></span></button>
                </div>
                <p class="list-group-item-text" ng-show="visible">Details...</p>
            </a>
        </div>
    </div>
</div>
