

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*
    Necessary for angular-ui
*/
.nav, .pagination, .carousel a { cursor: pointer; }

/*
    Customisations
*/
div.jumbotron {
    padding: 15px;
    margin-bottom: 15px;
}

.panel-heading {
    padding: 5px 10px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}






